{{ partial "header.html" . }}
<main>
  <div class="container content">
    <div class="row">
      <aside id="sidebar" class="col-sm-2">
        <img src="/me.jpg" alt="Raül Pérez" class="img-fluid img-thumbnail avatar">
        {{partial "sidebar.html" . }}
      </aside>
      <div class="col-sm-10">
        <div class="article-view">
          <article>
            <h2>{{ .Title }}</h2>
            {{ .Content }}
          </article>
        </div>
      <div>
    </div>
  </div>
</main>
{{ partial "footer.html" . }}
