  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><hr/></div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          {{ .Site.Copyright }}
        </div>
        <div class="col-sm-6 text-right">
          This content is available under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a>.
        </div>
      </div>
    </div>
  </footer>
  {{ partial "ganalytics.html" . }}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
