{{ partial "header.html" . }}
<main>
<div class="container intro">
    <p>Spicy jalapeno bacon ipsum dolor amet pastrami cupim rump burgdoggen, venison landjaeger beef brisket boudin pig. Venison pig kielbasa andouille bresaola salami brisket. Cupim short loin chuck beef ribs cow pork belly brisket andouille meatball hamburger boudin pastrami landjaeger tongue. Landjaeger sirloin beef ribs pork loin chuck flank venison.</p>
    <p>Hamburger filet mignon chuck jerky, tail ham hock boudin ground round bresaola capicola chicken brisket doner pork fatback. Tail bacon sirloin t-bone salami. Frankfurter venison prosciutto ball tip spare ribs pig meatball drumstick cow shoulder pastrami turducken salami. Cow tri-tip tongue biltong pork loin picanha leberkas, ham swine.</p>
    <p>Pancetta short loin alcatra ribeye, swine pig brisket pork loin bacon ham hock kielbasa. Strip steak ham hock t-bone doner. T-bone pastrami jowl biltong pork, sirloin swine. Doner capicola pork chop, turducken shoulder ham landjaeger pork loin t-bone beef picanha. Pig fatback sausage pork bacon, meatloaf pork belly brisket filet mignon ham hock pork loin. Meatball short loin filet mignon pork belly pancetta.</p>
</div>
<div class="container social-networks">
    <ul>
        <li><a href="https://twitter.com/repejota"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/repejota"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://linkedin.com/in/repejota"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="mailto:repejota@gmail.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a></li>
    </ul>
</div>
</main>
{{ partial "footer.html" . }}
