{{ partial "header.html" . }}
<main class="container content">
  <div class="row">
    <aside id="sidebar" class="col-sm-2">
      <img src="/me.jpg" alt="Raül Pérez" class="img-fluid img-thumbnail avatar">
      {{partial "sidebar.html" . }}
    </aside>
    <div id="content" class="col-sm-10">
      {{ .Content }}
      <div class="social-networks">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/repejota" class="twitter"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/repejota" class="github"><i class="fab fa-github-square fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://linkedin.com/in/repejota" class="linkedin"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="/index.xml" class="rss"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:hello@repejota.com" class="email"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    <div>
  </div>
</main>
{{ partial "footer.html" . }}
