{{ partial "header.html" . }}
<main>
<div class="container intro">
{{ .Content }}
</div>
<div class="container social-networks">
    <ul>
        <li><a href="https://twitter.com/repejota"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/repejota"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://linkedin.com/in/repejota"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="/index.xml"><i class="fa fa-rss-square fa-3x" aria-hidden="true"></i></a></li>
        <li><a href="mailto:repejota@gmail.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a></li>
    </ul>
</div>
</main>
{{ partial "footer.html" . }}
